radial-progress {

  .style {
    &--1 {
      .radial-progress {
        &--text {
          position: absolute;
          width: 100%;
          top: 80px;
          text-align: center;
          font-family: Arial;
          font-size: 30px;
          color: grey;
        }
      }
    }

    &--2 {

    }

    &--2 {

    }
  }
}
