<div class="radial-progress"
     [ngClass]="addClass">
  <div class="radial-progress--text">
    <div *ngIf="title!==''" class="radial-progress--title">
      {{title}}
    </div>
    <div *ngIf="showPercent" class="radial-progress--percent-count">
      {{percentCount}}<span *ngIf="percentUnit!==''">{{percentUnit}}</span>
    </div>
  </div>
  <div class="radial-progress--circle" (window:resize)="onResize($event)">
    <svg class="radial-progress--svg"
         preserveAspectRatio="xMinYMin meet"
         [attr.width]="circleSize"
         [attr.height]="circleSize"
         viewPort="0 0 100 100"
         version="1.1"
         xmlns="http://www.w3.org/2000/svg">
      <circle
        class="radial-progress--svg-circle"
        [attr.cx]="(circleSize / 2) * -1"
        [attr.cy]="circleSize / 2"
        [attr.r]="(circleSize / 2) - (strokeWidthHelper / 2)"
        [attr.fill]="fillBackground"
        stroke-dasharray="0"
        stroke-dashoffset="0"
        [attr.stroke-width]="strokeWidthBackground"
        [ngStyle]="{
            'stroke-dasharray': strokeDashArray + 'px',
            'stroke': strokeBackground,
            'transform': 'rotate(-90deg)',
            'line-height': '0'
            }"
      ></circle>
      <circle
        class="radial-progress--svg-circle radial-progress--bar"
        [attr.cx]="(circleSize / 2) * -1"
        [attr.cy]="(circleSize / 2) * negate"
        [attr.r]="(circleSize / 2) - (strokeWidthHelper / 2)"
        [attr.fill]="fill"
        stroke-dasharray="0"
        stroke-dashoffset="0"
        [attr.stroke-linecap]="strokeLinecap"
        [attr.stroke-width]="strokeWidth"
        [style.transition] = "animationHelper ? 'all ' + transitionDuration + 'ms linear, stroke ' + transitionDuration / circleProgressSteps +'ms linear' : ''"
        [ngStyle]="{
            'stroke': strokeColorActive,
            'stroke-dashoffset': strokeDashOffset + 'px',
            'stroke-dasharray': strokeDashArray + 'px',
            'transform': 'rotateY(' + rotateY + 'deg) rotateZ(-90deg)',
            'line-height': '0'
            }"
      ></circle>
    </svg>
  </div>
</div>
