<style type="text/css">
  body {
    font-family:'Helvetica', 'Arial';
  }
  h1 {
    font-family:'Helvetica', 'Arial';
    text-align: center;
    color: #3a4144;
  }
  .container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }
</style>
<h1>Different color per strokeStep</h1>
<div class="container">
  <radial-progress [percent]="20"
                   [addClass]="'style--1'"
                   [circleSize]="200"
                   [strokeSteps]="[{
                    strokeColor: '#e00079',
                    strokeStep: 25
                 }, {
                    strokeColor: '#ff7300',
                    strokeStep: 50
                 }, {
                    strokeColor: 'rgb(149,193,31)',
                    strokeStep: 75
                 }, {
                    strokeColor: 'rgb(58,65,68)',
                    strokeStep: 100
                 }
                 ]"
  >
  </radial-progress>
  <radial-progress [percent]="35"
                   [addClass]="'style--1'"
                   [circleSize]="200"
                   [strokeSteps]="[{
                    strokeColor: '#e00079',
                    strokeStep: 25
                 }, {
                    strokeColor: '#ff7300',
                    strokeStep: 50
                 }, {
                    strokeColor: 'rgb(149,193,31)',
                    strokeStep: 75
                 }, {
                    strokeColor: 'rgb(58,65,68)',
                    strokeStep: 100
                 }
                 ]"
  >
  </radial-progress>
  <radial-progress [percent]="65"
                   [addClass]="'style--1'"
                   [circleSize]="200"
                   [strokeSteps]="[{
                    strokeColor: '#e00079',
                    strokeStep: 25
                 }, {
                    strokeColor: '#ff7300',
                    strokeStep: 50
                 }, {
                    strokeColor: 'rgb(149,193,31)',
                    strokeStep: 75
                 }, {
                    strokeColor: 'rgb(58,65,68)',
                    strokeStep: 100
                 }
                 ]"
  >
  </radial-progress>
  <radial-progress [percent]="95"
                   [addClass]="'style--1'"
                   [circleSize]="200"
                   [strokeSteps]="[{
                    strokeColor: '#e00079',
                    strokeStep: 25
                 }, {
                    strokeColor: '#ff7300',
                    strokeStep: 50
                 }, {
                    strokeColor: 'rgb(149,193,31)',
                    strokeStep: 75
                 }, {
                    strokeColor: 'rgb(58,65,68)',
                    strokeStep: 100
                 }
                 ]"
  >
  </radial-progress>
</div>


<h1>Rounded linecap</h1>
<div class="container">
  <radial-progress
    [percent]="5"
    [addClass]="'style--2'"
    [circleSize]="220"
    [strokeLinecap]="'round'"
    [strokeWidth]="30"
    [strokeWidthBackground]="30"
    [strokeBackground]="'#95c11f'"
    [strokeSteps]="[{
      strokeColor: '#ff7300',
      strokeStep: 100
    }]"
  >
  </radial-progress>
  <radial-progress
    [percent]="75"
    [addClass]="'style--2'"
    [circleSize]="220"
    [strokeLinecap]="'round'"
    [strokeWidth]="30"
    [strokeWidthBackground]="30"
    [strokeBackground]="'#e00079'"
    [strokeSteps]="[{
      strokeColor: '#ff7300',
      strokeStep: 100
    }]"
  >
  </radial-progress>
</div>


<h1>Clockwise with background</h1>
<div class="container">
  <radial-progress
    [percent]="30"
    [addClass]="'style--3'"
    [title]="'Title'"
    [circleSize]="150"
    [strokeLinecap]="'round'"
    [strokeWidth]="10"
    [strokeWidthBackground]="10"
    [strokeBackground]="'#95c11f'"
    [clockwise]="true"
    [fillBackground]="'#3a4144'"
    [strokeSteps]="[{
                    strokeColor: '#ff7300',
                    strokeStep: 100
                 }]"
  >
  </radial-progress>
  <radial-progress
    [percent]="78"
    [addClass]="'style--3'"
    [title]="'Title'"
    [circleSize]="150"
    [strokeLinecap]="'round'"
    [strokeWidth]="10"
    [strokeWidthBackground]="10"
    [strokeBackground]="'#00bee8'"
    [clockwise]="true"
    [fillBackground]="'#3a4144'"
    [strokeSteps]="[{
                    strokeColor: '#ff7300',
                    strokeStep: 100
                 }]"
  >
  </radial-progress>
</div>

<h1>Pie chart clockwise</h1>
<div class="container">
  <radial-progress
    [percent]="14"
    [title]="'pie chart'"
    [addClass]="'style--4'"
    [circleSize]="200"
    [strokeWidth]="100"
    [strokeWidthBackground]="100"
    [strokeBackground]="'#3a4144'"
    [clockwise]="true"
    [strokeSteps]="[{
                    strokeColor: '#95c11f',
                    strokeStep: 33
                 }, {
                    strokeColor: '#00bee8',
                    strokeStep: 66
                 }, {
                    strokeColor: '#ff7300',
                    strokeStep: 100
                 }]"
  >
  </radial-progress>
  <radial-progress
    [percent]="51"
    [title]="'pie chart'"
    [addClass]="'style--4'"
    [circleSize]="200"
    [strokeWidth]="100"
    [strokeWidthBackground]="100"
    [strokeBackground]="'#3a4144'"
    [clockwise]="true"
    [strokeSteps]="[{
                    strokeColor: '#95c11f',
                    strokeStep: 33
                 }, {
                    strokeColor: '#00bee8',
                    strokeStep: 66
                 }, {
                    strokeColor: '#ff7300',
                    strokeStep: 100
                 }]"
  >
  </radial-progress>
  <radial-progress
    [percent]="84"
    [title]="'pie chart'"
    [addClass]="'style--4'"
    [circleSize]="200"
    [strokeWidth]="100"
    [strokeWidthBackground]="100"
    [strokeBackground]="'#3a4144'"
    [clockwise]="true"
    [strokeSteps]="[{
                    strokeColor: '#95c11f',
                    strokeStep: 33
                 }, {
                    strokeColor: '#00bee8',
                    strokeStep: 66
                 }, {
                    strokeColor: '#ff7300',
                    strokeStep: 100
                 }]"
  >
  </radial-progress>
</div>

<h1>Overlapping stroke with transparency</h1>
<div class="container">
  <radial-progress
    [percent]="13"
    [addClass]="'style--5'"
    [circleSize]="200"
    [strokeWidth]="30"
    [strokeWidthBackground]="30"
    [fillBackground]="'#3a4144'"
    [strokeSteps]="[{
                    strokeColor: 'rgba(149, 193, 31, .5)',
                    strokeStep: 33
                 }, {
                    strokeColor: 'rgba(0, 190, 232, .5)',
                    strokeStep: 66
                 }, {
                    strokeColor: 'rgba(255, 115, 0, .5)',
                    strokeStep: 100
                 }]"
  >
  </radial-progress>
  <radial-progress
    [percent]="55"
    [addClass]="'style--5'"
    [circleSize]="200"
    [strokeWidth]="30"
    [strokeWidthBackground]="30"
    [fillBackground]="'#3a4144'"
    [strokeSteps]="[{
                    strokeColor: 'rgba(149, 193, 31, .5)',
                    strokeStep: 33
                 }, {
                    strokeColor: 'rgba(0, 190, 232, .5)',
                    strokeStep: 66
                 }, {
                    strokeColor: 'rgba(255, 115, 0, .5)',
                    strokeStep: 100
                 }]"
  >
  </radial-progress>
  <radial-progress
    [percent]="85"
    [addClass]="'style--5'"
    [circleSize]="200"
    [strokeWidth]="30"
    [strokeWidthBackground]="30"
    [fillBackground]="'#3a4144'"
    [strokeSteps]="[{
                    strokeColor: 'rgba(149, 193, 31, .5)',
                    strokeStep: 33
                 }, {
                    strokeColor: 'rgba(0, 190, 232, .5)',
                    strokeStep: 66
                 }, {
                    strokeColor: 'rgba(255, 115, 0, .5)',
                    strokeStep: 100
                 }]"
  >
  </radial-progress>
</div>
